$highlight: rgb(249, 84, 40);
$dark-accent: rgb(224, 155, 46);
$light-accent: rgb(247, 178, 57);
$light-gray: rgb(242, 242, 242);
$dark-gray: rgb(170, 170, 170);
$hover-field: rgb(255, 202, 110);
$tertiary: rgb(46, 114, 224);

body {
    margin: 0;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23f95428'/%3E%3Cstop offset='1' stop-color='%23f7b239'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /*background-color: #f95428;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23f95428' width='11' height='11'/%3E%3Crect fill='%23f95628' x='10' width='11' height='11'/%3E%3Crect fill='%23f95827' y='10' width='11' height='11'/%3E%3Crect fill='%23f95a27' x='20' width='11' height='11'/%3E%3Crect fill='%23f95c27' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23fa5e26' y='20' width='11' height='11'/%3E%3Crect fill='%23fa6026' x='30' width='11' height='11'/%3E%3Crect fill='%23fa6226' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23fa6325' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23fa6525' y='30' width='11' height='11'/%3E%3Crect fill='%23fa6725' x='40' width='11' height='11'/%3E%3Crect fill='%23fa6925' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23fa6b24' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23fa6c24' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23fa6e24' y='40' width='11' height='11'/%3E%3Crect fill='%23fa7024' x='50' width='11' height='11'/%3E%3Crect fill='%23fa7124' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23fa7324' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23fa7524' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23fa7624' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23fa7824' y='50' width='11' height='11'/%3E%3Crect fill='%23fa7a24' x='60' width='11' height='11'/%3E%3Crect fill='%23fa7b24' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23fa7d24' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23fa7f24' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23fa8024' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23fa8224' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23fa8324' x='70' width='11' height='11'/%3E%3Crect fill='%23fa8524' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23fa8725' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23fa8825' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23fa8a25' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23fa8b26' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23fa8d26' x='80' width='11' height='11'/%3E%3Crect fill='%23fa8e26' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23fa9027' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23fa9127' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23fa9328' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23fa9428' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23f99629' x='90' width='11' height='11'/%3E%3Crect fill='%23f99729' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23f9992a' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23f99a2b' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23f99c2b' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23f99d2c' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23f99e2d' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23f9a02d' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23f9a12e' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23f8a32f' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23f8a430' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23f8a630' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23f8a731' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23f8a832' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23f8aa33' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23f8ab34' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23f8ad35' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23f7ae36' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23f7af37' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23f7b138' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23f7b239' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;*/
    /*background-color: #ff4c4c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff9a53'/%3E%3Cstop offset='1' stop-color='%23ff9a53' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff644a'/%3E%3Cstop offset='1' stop-color='%23ff644a' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffb251'/%3E%3Cstop offset='1' stop-color='%23ffb251' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff4c4c'/%3E%3Cstop offset='1' stop-color='%23ff4c4c' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffe359'/%3E%3Cstop offset='1' stop-color='%23ffe359' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff7d49'/%3E%3Cstop offset='1' stop-color='%23ff7d49' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;*/
}

.app {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 700px;
    padding: 10px 25px;
    max-height: 700px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background: white;
    border: 2px solid $highlight;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 2.5em;
    a {
        color: $dark-accent;
    }
}

main {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    outline: none;
}