$highlight: rgb(249, 84, 40);
$dark-accent: rgb(224, 155, 46);
$light-accent: rgb(247, 178, 57);
$light-gray: rgb(242, 242, 242);
$dark-gray: rgb(170, 170, 170);
$hover-field: rgb(255, 202, 110);
$tertiary: rgb(46, 114, 224);

body {
    margin: 0;
}

.app {
    padding: 10px 50px;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 2.5em;
    a {
        color: $dark-accent;
    }
}

main {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    outline: none;
}