@media only screen and (min-width: 550px) {
    .search {
        flex: none;
        flex-direction: row;
        justify-content: space-between;
        margin: 3vh 0;
        width: 450px;

        form {
            margin: 0.875em 0 0 0;
        }
    }
}

@media only screen and (min-height: 600px) {
    .preview-image {
        svg, img {
            height: 33vh;
            max-height: 250px;
        }
    }

    .results {
        flex: 1 1;
    }

    .results p {
        margin: auto;
    }
}