@media only screen and (min-width: 450px) {
  .results {
    min-height: 3.5em;
  }
}

@media only screen and (min-width: 550px) {
  .search {
    flex: none;
    flex-direction: row;
    justify-content: space-between;
    width: 475px;

    form {
      margin: 0.875em 0 0 0;
    }
  }
}

@media only screen and (min-height: 600px) {
  .preview-image {
    display: block;
  }
}
