.search {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;

    form {
        display: flex;
        align-items: flex-end;
        position: relative;
        margin: 5px 0;
    }

    label {
        margin-right: 10px;
        font-weight: bold;
        margin-bottom: 0.95em;
    }

    input {
        -webkit-appearance: none;
        border: none;
        border-bottom: 2px solid $highlight;
        width: 200px;
        font-family: inherit;
        padding-right: 25px;
        flex: 1 1;
    }

    input:hover, input:focus {
        background-color: $light-gray;
    }

    input, select {
        outline: none;
    }
    
    input, button {
        font-size: 1em;
    }
    
    button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
        border: none;
        background: transparent;
        color: black;
        padding-left: 0;
    }

    button:hover {
        color: $tertiary;
    }

    select {
        border: 2px solid $highlight;
        font-size: 0.875em;
        width: 3em;
        margin-bottom: 0.875em;
    }

    select:disabled {
        border-color: $dark-gray;
    }

}

.search, form > div, .search input {
    width: 100%;
}

.input-container {
    position: relative;
}

.error {
    display: block;
    height: 0.875em;
    font-size: 0.875em;
    color: red;
}
