.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  form {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin: 3px 0;
  }

  form > div {
    width: 100%;
  }

  label {
    display: flex;
    flex: 1 1;
  }

  label > div {
    width: 100%;
  }

  label > span {
    margin-right: 10px;
    font-weight: bold;
  }

  input {
    -webkit-appearance: none;
    border: none;
    border-bottom: 2px solid $highlight;
    font-family: inherit;
    padding-right: 25px;
    width: 100%;
  }

  input,
  select {
    outline: none;
  }

  input,
  button {
    font-size: 1em;
  }

  input:hover,
  input:focus {
    background-color: $light-gray;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    border: none;
    background: transparent;
    color: black;
    padding-left: 0;
  }

  button:hover {
    color: $tertiary;
  }

  select {
    width: 3em;
  }

  select:disabled {
    border-color: $dark-gray;
  }
}

.input-container {
  position: relative;
}

.error {
  display: block;
  height: 1em;
  font-size: 0.875em;
  color: red;
}
