.shuffle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    flex: 1 1;
    
    span {
        font-weight: bold;
    }

    button {
        background: transparent;
        border: none;
        font-size: 3em;
        color: $tertiary;
    }

    button:hover {
        color: $highlight;
    }

    button:disabled {
        color: $dark-gray;
    }
}