.episode-tracker {
  flex: 1 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    width: 100%;
  }

  form {
    margin-bottom: 1.5em;

    label > * {
      margin: 0 3px;
    }

    span {
      font-weight: bold;
    }

    select:focus {
      outline: none;
    }
  }
}

.grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.watched {
  fill: #80bfff;
}

.unwatched {
  fill: #cce6ff;
}

.empty {
  fill: $light-gray;
}
